@model ContactPageVM
@{
    ViewData["Title"] = "Index";
}



@section css{
       <link rel="stylesheet" href="~/assets/css/contact.css" />

}



  <main style="background-color: #F8F7F6;">
            <!-- section banner start -->
      <section
      id="banner"
      style="background-image: url(/assets/images/contact-bg.jpg)"
    >
       <div class="banner-wright">
          <h1>Contact Us</h1>
       </div>
    </section>



    <!-- section contact start -->

    <section id="contact">
      <div class="detail">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <div class="contact-details">
              <div class="container">
              
                  <h4>Contact Details</h4>
                  <div class="our">
                    <div class="location">
                      <i class="fa-solid fa-location-dot"></i>
                      <h4>Our Location</h4>
                      <p style="width: 65%;">@Model.Contact.Address</p>
                    </div>
                    
                    <div class="call">
                      <i class="fa-solid fa-phone-flip"></i>
                      <h4>Call Us</h4>
                      <p>@Model.Contact.Phone1</p>
                      <p>@Model.Contact.Phone2</p>
                    </div>
                  </div>
                
               
               
                  <div class="email">
                    <i class="fa-solid fa-envelope"></i>  
                    <h4>Our Email</h4>
                    <p>@Model.Contact.Email</p>
                  </div>
                  
                  <hr>
                
                <div class="form">
                  <h4> Send Us a Message</h4>
                 <form asp-action="CreateMessage" method="post" id="message-form">     
                     <div class="mb-3">
                      <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                       <input asp-for="@Model.ContactMessage.Name" class="form-control" name="name" id="exampleFormControlInput1" required placeholder="Your Name">
                    </div>
                    <div class="mb-3">
                     <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                     <input asp-for="@Model.ContactMessage.Email" class="form-control" id="exampleFormControlInput1" name="email" required placeholder=" Your Email">
                    </div>
                    <div class="mb-3">
                      <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                       <input asp-for="@Model.ContactMessage.Subject" class="form-control" id="exampleFormControlInput1" name="subject" required placeholder="Subject">
                    </div>
                    <div class="mb-3">
                         <textarea asp-for="@Model.ContactMessage.Message" style="border:none; outline:none;" cols="110" rows="3" name="message" required placeholder="Message" ></textarea>
                    </div>
                   <div class="mb-3">
                      <button type="submit" class="btn btn-danger">Send Message</button>
                   </div>
                  </form>
                </div>
              </div>
              </div>
            </div>
            <div class="col-4">
              <h4 class="mb-4">Find Us</h4>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.428674853683!2d49.8513705758253!3d40.37719087144594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2saz!4v1704306287917!5m2!1sen!2saz" width="100%" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </section>

    <!-- section contact end -->



    <!-- section banner end -->
      </main>

