@model HomeVM

@{
    ViewData["Title"] = "Index";
}

    <main>
      <!-- section banner start -->
      <section
        id="banner"
        style="background-image: url(/assets/images/@Model.Banner.Image)"
      >
        <div class="banner-wright">
          <h5>@Model.Banner.Title</h5>
          <div class="banner-amazing">
            <h1>@Model.Banner.Desc</h1>
          </div>
          <a asp-controller="Shop" asp-action="Index" type="button" class="btn btn-danger">Shop Now</a>
        </div>
      </section>
      <!-- section banner end -->
      <!-- section elementor start -->
      <section id="elementor">
        <div class="container">
          <div class="row">
                @foreach (var item in Model.Elementors)
                {
                    <div class="col-4">
                        <div class="collection">
                            <i aria-hidden="true" class="fas fa-spa"></i>
                            <div class="collection-desc">
                                <h5>@item.Title</h5>
                                <h6>@item.Description</h6>
                            </div>
                        </div>
                    </div>
                }
          </div>
        </div>
      </section>
      <!-- section elementor end -->
      <!-- section blog start -->
      <section id="blog-part">
        <div class="container">
          <div class="row">
                @foreach (var item in Model.Blogs)
                {
                    <div class="col-4">
                        <div class="blog-card">
                            <div class="blog-image">
                                <img src="~/assets/images/blog/@item.Image" alt="" />
                                <div class="blog-wright">
                                    <h5>@item.Title</h5>
                                    <p>@item.Description</p>
                                    <a href="">SEE COLLECTION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
         
           
          </div>
        </div>
      </section>
      <!-- section blog end -->
      <!-- section featured start -->
      <section id="featured">
        <div class="container">
          <div class="featured-desc">
            <h2>@Model.Featured.Title</h2>
            <p>@Model.Featured.Description</p>
          </div>
        </div>
      </section>
      <!-- section featured end -->

      <!-- section product start -->

      <section id="product">
        <div class="container">
          <div class="row">

              @foreach (var item in Model.Product)
                {
                    <div class="col-3">
                        <div class="product-image">
                            <div class="wishlist-icon">
                                <i class="fa-regular fa-heart wishlist-icons"></i>
                                <i class="fa-solid fa-heart wishlist d-none"></i>
                            </div>
                            <div class="bucket-icon">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </div>
                            <a asp-controller="Shop" asp-action="ProductDetails" asp-route-id="@item.Id">
                                <img src="~/assets/images/product/@item.Image"
                                     alt="" />
                            </a>
                            <p>@item.CategoryName</p>
                            <h5>@item.Name</h5>
                            <span>$@item.Price</span>
                        </div>
                    </div>

                }
          </div>
        </div>
      </section>

      <!-- section product end -->

      <!-- section help start -->
      <section id="help">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="help-title">
                <h4>@Model.Help.Title</h4>
                <a href="">
                  <div class="contact">
                    <i class="fa-solid fa-phone-flip"></i>
                  <span>ASK FOR HELP</span>
                  </div>

                </a>
              </div>
            </div>
            <div class="col-8">
              <div class="help-text">
                <p>
                    @Model.Help.Desc1
                </p>
                <p>
                    @Model.Help.Desc2
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section help end -->
      <!-- section testimonial start -->
      <section id="testimonial">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="overview">
                <div class="text">
                  <h1>Testimonials</h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
                <div class="since">
                  <div class="container">
                    <div class="row">
                      <div class="col-6">
                        <div class="image-left">
                          <img
                            src="~/assets/images/testimonials/@Model.Testimonial.FirstOrDefault().Image"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="review">
                          <p>
                            @Model.Testimonial.FirstOrDefault().Description
                          </p>
                          <h5>Sarah Jones</h5>
                          <span>@Model.Testimonial.FirstOrDefault().Position</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="since">
                <div class="container">
                  <div class="row">
                      @foreach (var item in Model.Testimonial.Skip(1).Take(2))
                                {
                                    <div class="col-6">
                                        <div class="image-right">
                                            <img src="~/assets/images/testimonials/@item.Image"
                                                 alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="review">
                                            <p>
                                                @item.Description
                                            </p>
                                            <h5>@item.Name</h5>
                                            <span>@item.Position</span>
                                        </div>
                                    </div>
                      }


                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <!-- section testimonial end -->

      <!-- section interested start -->
      <section id="interested">
        <div class="interested-desc">
          <div class="interested-wright">
            <h2>@Model.Interested.Title</h2>
            <p>
               @Model.Interested.Description
            </p>
            <button type="button" class="btn btn-danger">Go To Shop</button>
          </div>
          <div
            class="background"
            style="background-image: url(/assets/images/@Model.Interested.Image)"
          ></div>
        </div>
      </section>
      <!-- section interested end -->
    </main>
