@model List<ElementorVM>

@{
	ViewData["Title"] = "Index";
}


<div class="container my-5">
	<h1 class="text-center mt-3 mb-3">Elementor</h1>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Title
					</th>
					<th>
						Description
					</th>
					<th>
						Create Date
					</th>
					<th>
						Operations
					</th>

				</tr>
			</thead>
			<tbody>

				@foreach (var item in Model)
				{
					<tr data-id="">
						<td>
							@item.Title.Substring(0, (int)Math.Ceiling(item.Title.Length * 0.1))...
						</td>


						<td style=" white-space:normal">
							@item.Description.Substring(0, (int)Math.Ceiling(item.Description.Length * 0.1))...
						</td>
						<td>
							@item.CreateTime.ToString("dd/MM/yyyy")
						</td>

						<td>
							<a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
							<a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
							<form class="d-inline-block" method="post" asp-action="Delete" asp-route-id="@item.Id">
							</form>

						</td>

					</tr>

				}




			</tbody>
		</table>
	</div>
</div>



