@model ProductVM


@{
    ViewData["Title"] = "ProductDetails";
}



@section css{
    <link rel="stylesheet" href="~/assets/css/productdetail.css" />

}

<main style="background-color: #F8F7F6;">
    <hr>
    <section id="detail-all">
        <div class="detail">
            <div class="container">
                <div class="row">
                    <div class="col-6" style="background-color: white;">
                        <div class="image">
                            <img src="~/assets/images/product/@Model.Image" alt="">
                        </div>
                    </div>
                    <div class="col-6 detail" style="background-color: white;">
                        <div class="desc cart">
                            <a href="">@Model.CategoryName</a>
                            <h1>@Model.Name</h1>
                            <p>$@Model.Price <span>+ Free Shipping</span></p>
                            <p>@Model.Description</p>
                            <button type="button" class="btn btn-danger add-cart" data-id="@Model.Id">Add To Cart</button>
                            <hr>
                            <p>Category: <a href="">@Model.CategoryName</a></p>
                        </div>
                    </div>
                    <hr>
                    <div class="description">
                        <a href="">Description</a>
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <hr>
</main>

@section script{
    <script src="~/assets/js/productdetail.js"></script>
}

