
@model AboutPageVM

@{
    ViewData["Title"] = "Index";
}


@section css{
    <link rel="stylesheet" href="~/assets/css/about.css" />
}

<main>
    <!-- section banner start -->
    <section id="banner"
             style="background-image: url(/assets/images/about-page/about-bg.jpg)">
        <div class="banner-wright">
            <h1>About Us</h1>
        </div>
    </section>
    <!-- section banner end -->
    <!-- section description start -->

    <section id="description">
        <div class="container">
            <div class="desc">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>@Model.About.Title</h3>
                    </div>
                    <div class="col-lg-8">
                        <div class="desc-right">
                            <div class="desc-text">
                                <p>@Model.About.Description</p>
                            </div>
                            <div class="desc-button">
                                <button type="button" class="btn btn-danger">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- section description end -->
    <!-- section company start -->
    <section id="company">
        <div class="container">
            <div class="company">
                <div class="company-wright">
                    <h2>@Model.Company.Title</h2>
                    <p>@Model.Company.Desc</p>
                </div>
                <div class="image">
                    <img src="~/assets/images/about-page/company/@Model.Company.Image" alt="">
                </div>
                <div class="company-desc">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="pp">
                                <p>@Model.Company.DescLeft</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p">
                                <p>@Model.Company.DescRight</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- section company end -->
    <!-- section team start -->
    <section id="team">
        <div class="container">
            <div class="team">
                <div class="team-wright">
                    <h2>@Model.Company.Title</h2>
                    <p>@Model.Company.Desc</p>
                </div>
            </div>
            <div class="co-founder">
                <div class="row">
                    @foreach (var item in Model.Teams)
                    {
                        <div class="col-lg-4">
                            <div class="image">
                                <img src="~/assets/images/about-page/blog/@item.Image" alt="">
                            </div>
                            <div class="text">
                                <h4>@item.FullName</h4>
                                <p>@item.Position</p>
                                <div class="hr">
                                    <div class="hr-red">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="social">
                                <i class="fa-brands fa-linkedin-in"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                        </div>

                    }
                </div>
            </div>

        </div>
    </section>
    <!-- section team end -->
    <!-- section interested start -->
    <section id="interested">
        <div class="interested-desc">
            <div class="interested-wright">
                <h2>@Model.Interested.Title</h2>
                <p>@Model.Interested.Description</p>
                <button type="button" class="btn btn-danger">Go To Shop</button>
            </div>
            <div class="background"
                 style="background-image: url(/assets/images/@Model.Interested.Image)"></div>
        </div>
    </section>
    <!-- section interested end -->




</main>


