@model List<BasketDetailVM>


@{
    ViewData["Title"] = "Index";
    decimal grandTotal = Model.Sum(m => m.Total);
}





@section css{
    <link rel="stylesheet" href="~/assets/css/basket.css" />
}

<main style="background-color: #F8F7F6;">
    <!-- section banner start -->
    <section id="banner"
             style="background-image: url(/assets/images/shop-page/@ViewBag.BasketBanner)">
        <div class="banner-wright">
            <h1>Your basket page</h1>
        </div>
        
    </section>
    <!-- section banner end -->



    <section id="basket">
        <div class="container">
            <div class="basket-all">
                <div class="empty @(Model.Count == 0 ? "":"d-none")">
                    <p>Basket cann't empty</p>
                    <a asp-controller="Shop" asp-action="Index">GO TO SHOP PAGE</a>
                </div>

                <div class="cart-table basket-table @(Model.Count == 0 ? "d-none":"")">
                    <h3>Your Basket</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Count</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/assets/images/product/@item.Image">
                                    </td>
                                    <td>@item.Name</td>
                                    <td><i class="fa-solid fa-minus" data-id="@item.Id"></i> <span style="width:30px;display:inline-block">@item.Count</span> <i class="fa-solid fa-plus" data-id="@item.Id"></i></td>
                                    <td>@item.Price $</td>
                                    <td><span>@item.Total</span> $</td>
                                    <td>
                                        <button type="submit" class="btn btn-outline-danger delete-basket-item" data-id="@item.Id">Delete</button>
                                    </td>
                                </tr>
                            }
                            

                        </tbody>

                    </table>
                    <div class="grand-total mt-5">
                        <span style="padding:20px 30px">Grand total: <span class="grandtotal">@grandTotal</span> $</span>
                    </div>
                </div>

            </div>
        </div>
    </section>



</main>

